@model MovieRental.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <ul>

        
        <li>
            <b>Genre:</b> @foreach (var genre in Model.Genres)
            {
                @genre.GenreName}</li>


            <li><b>Release Date:</b> @Html.DisplayFor(model => model.ReleaseDate)</li>

            <li><b>Date Added:</b> @Model.Added</li>

            <li><b>Number in Stock:</b> @Model.NumberInStock</li>

        </ul>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
